<div class="body" *ngIf="current && profit">

    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar [class]="status ? 'active' : 'inactive'"></div>
            <mat-card-title>{{ status ? "Mining aktiv" : "Mining inaktiv" }}</mat-card-title>
            <mat-card-subtitle>{{ getWorkerString() }}</mat-card-subtitle>
            <a mat-icon-button target="_blank" [href]="'https://www.ethermine.org/miners/' + address + '/dashboard'"><mat-icon>open_in_new</mat-icon></a>
        </mat-card-header>
        <mat-card-content class="card-content">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ current.currentExchange.EUR | number: '1.1-2' }}€ ETH⁻¹</h2>
                        </tr>
                        <tr>
                            <i>Rate</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>~ {{ profit.perDay | number: '1.1-2' }}€ d⁻¹</h2>
                        </tr>
                        <tr>
                            <i>Profit</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>~ {{ (current.currentStats.unpaid / 1000000000000000) / (current.currentStats.coinsPerMin * 60 * 24 * 1000) - 10 | number: '1.1-1' }} d</h2>
                        </tr>
                        <tr>
                            <i>Auszahlung</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>~ {{ (current.currentStats.unpaid / 1000000000000000000) * current.currentExchange.EUR | number: '1.1-2' }}€</h2>
                        </tr>
                        <tr>
                            <i>unausgezahlt</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ current.currentStats.currentHashrate / 1000000 | number: '1.1-2' }} MH/s</h2>
                        </tr>
                        <tr>
                            <i>aktuell</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ current.currentStats.averageHashrate / 1000000 | number: '1.1-2' }} MH/s</h2>
                        </tr>
                        <tr>
                            <i>durchschnittlich</i>
                        </tr>
                    </table>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <hr>
        <mat-card-actions class="switchs">
            <mat-checkbox [(ngModel)]="manual" color="primary" (input)="setManual()">Manueller Modus</mat-checkbox><br>
            <div *ngIf="manual">
                <mat-slide-toggle [(ngModel)]="status" (input)="setStatus()">Mining-Status</mat-slide-toggle><br>
                <mat-slide-toggle [(ngModel)]="shutdown" (input)="setShutdown()">Shutdown</mat-slide-toggle><br>
            </div>
        </mat-card-actions>
      </mat-card>
      
</div>