.body {
    margin: 2em;
}

.active {
    background-size: cover;
    background-color: rgba(0, 228, 0, 0.774);
}

.inactive {
    background-size: cover;
    background-color: rgba(255, 30, 0, 0.781);
}

h2 {
    font-weight: normal;
    margin-bottom: .1em;
}

table {
    text-align: center;
}

i {
    font-size: small;
    font-weight: 400;
    color: #000000be;
}

mat-icon {
    zoom: .75;
    vertical-align: text-bottom;
}

.switchs {
    margin-left: 1em;
}

mat-slide-toggle, mat-checkbox {
    margin-bottom: 1em;
}

// PC
@media (min-width: 1281px) {

    .body {
        float: left;
    }
  
    .card  {
        max-width: 600px;
        min-width: 500px;
    }
    
}

// Handy und Tablet hochkant
@media (min-width: 320px) and (max-width: 1024px), (max-width: 1024px) and (orientation: portrait) {

    .body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card  {
        width: 100%;
    }

}

// Tablet
@media (min-width: 1025px) and (max-width: 1280px) {

    .body {
        float: left;
    }
  
    .card  {
        max-width: 400px;
        min-width: 400px;
    }
}