<div class="body" *ngIf="energy && profit">

    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="good" *ngIf="energy.bat_power > 0 && energy.grid_power < 0"></div>
            <div mat-card-avatar class="semi" *ngIf="!(energy.bat_power < 0 && energy.grid_power > 0) && !(energy.bat_power > 0 && energy.grid_power < 0)"></div>
            <div mat-card-avatar class="bad" *ngIf="energy.bat_power < 0 && energy.grid_power > 0"></div>
            <mat-card-title>{{ calculateStatus() }}</mat-card-title>
            <mat-card-subtitle>Senec Speicher</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ energy.house_power | number: '1.1-1' }} W</h2>
                        </tr>
                        <tr>
                            <i>Verbrauch</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ energy.solar_power | number: '1.1-1' }} W</h2>
                            <mat-progress-bar
                                class="progress"
                                mode="determinate"
                                [value]="energy.solar_power / 75">
                            </mat-progress-bar>
                        </tr>
                        <tr>
                            <i>Erzeugung</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ (energy.bat_power < 0 ? -energy.bat_power : energy.bat_power) | number: '1.1-1' }} W</h2>
                            <mat-progress-bar
                                class="progress"
                                mode="determinate"
                                [value]="(energy.bat_power < 0 ? -energy.bat_power : energy.bat_power) / 25">
                            </mat-progress-bar>
                        </tr>
                        <tr>
                            <i *ngIf="energy.bat_power > 0" class="good_val"><mat-icon>east</mat-icon><mat-icon>battery_charging_full</mat-icon></i>
                            <i *ngIf="energy.bat_power < 0" class="bad_val"><mat-icon>west</mat-icon><mat-icon>battery_full</mat-icon></i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ (energy.grid_power < 0 ? -energy.grid_power : energy.grid_power) | number: '1.1-1' }} W</h2>
                        </tr>
                        <tr>
                            <i *ngIf="energy.grid_power < 0" class="good_val"><mat-icon>east</mat-icon><mat-icon>public</mat-icon></i>
                            <i *ngIf="energy.grid_power > 0" class="bad_val"><mat-icon>west</mat-icon><mat-icon>public</mat-icon></i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table>
                        <tr>
                            <h2>{{ energy.bat_fuel | number: '1.1-1' }}%</h2>
                            <mat-progress-bar
                                class="progress"
                                mode="determinate"
                                [value]="energy.bat_fuel">
                            </mat-progress-bar>
                        </tr>
                        <tr>
                            <i>Ladung</i>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table *ngIf="(energy.bat_power < 0 ? -energy.bat_power : energy.bat_power) < 10">
                        <tr>
                            <h2 *ngIf="energy.bat_fuel != 100 && energy.bat_fuel != 0">-</h2>
                            <h2 *ngIf="energy.bat_fuel == 100">~ ({{ (energy.bat_fuel * 100) / energy.house_power | number: '1.1-1' }} h)</h2>
                            <h2 *ngIf="energy.bat_fuel == 0">leer</h2>
                        </tr>
                        <tr>
                            <i *ngIf="energy.bat_fuel != 100 && energy.bat_fuel != 0">Akkudauer</i>
                            <i *ngIf="energy.bat_fuel == 100">bis leer (gesamt)</i>
                            <i *ngIf="energy.bat_fuel == 0">Akku</i>
                        </tr>
                    </table>
                    <table *ngIf="(energy.bat_power < 0 ? -energy.bat_power : energy.bat_power) > 10">
                        <tr>
                            <h2 *ngIf="energy.bat_power > 0">~ {{ (10000 - (energy.bat_fuel * 100)) / energy.bat_power | number: '1.1-1' }} h</h2>
                            <h2 *ngIf="energy.bat_power < 0">
                                ~ {{ (energy.bat_fuel * 100) / -energy.bat_power | number: '1.1-1' }} h
                                ({{ (energy.bat_fuel * 100) / -energy.house_power | number: '1.1-1' }} h)
                            </h2>
                        </tr>
                        <tr>
                            <i *ngIf="energy.bat_power > 0">bis voll</i>
                            <i *ngIf="energy.bat_power < 0">bis leer (gesamt)</i>
                        </tr>
                    </table>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
      </mat-card>
      
</div>